@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}
html, body {
  height: 100%;
  font-family: "Gaegu", sans-serif;
  letter-spacing: -0.6px;
}
ul, ol {
  list-style: none;
}
.center-sort {
  display: flex;
  align-items: center;
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.notepad {
  width: 600px;
  height: 759px;
  background: url(images/bg.png) no-repeat 50% 0% / 100%;
  box-shadow: 16px 16px 20px rgba(0,0,0,0.2);
  position: relative;
}
.notepad .main-title {
  margin-top: 74px;
  margin-left: 20px;
  font-size: 36px;
  font-weight: 700;
}
.notepad .new-memo-btn {
  position: absolute;
  right: 10px;
  top: -56px;
  transform: rotate(138deg);
  width: 38px;
  height: 180px;
  background: transparent url(images/pencil.png) no-repeat 50% 50%;
  background-size: 30px;
  border: none;
  cursor: pointer;
  z-index: 4;
  transition: all 1s;
}
.notepad .new-memo-btn.active {
  position: absolute;
  right: 100px;
  top: 226px;
  transform: rotate(560deg);
  height: 282px;
  background-size: 50px;
  transition: all 1s;
}
/* memo */
.notepad .write-note {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%) scale(0);
  width: 340px;
  height: 340px;
  padding: 12px;
  background-color: #C2F0C2;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.notepad .write-note.active {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  transition: all 0.6s ease-in-out;
}
.notepad .write-note input {
  width: 100%;
  height: 32px;
  padding: 0 12px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.notepad .write-note input:focus {
  outline: none;
}
.notepad .write-note input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.notepad .write-note textarea {
  width: 100%;
  height: calc(100% - 76px);
  padding: 12px;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
}
.notepad .write-note textarea:focus {
  outline: none;
}
.notepad .write-note textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.notepad .write-note .add-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  font-size: 0;
  background: url(images/edit.svg) no-repeat 50% 50% / 20px;
  border: none;
  cursor: pointer;
}

/* memo-box */
.notepad .memo-box {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  height: 600px;
  padding: 8px 20px;
  margin-top: 12px;
  overflow: auto;
}
.notepad .memo-box .memo-list {
  width: 170px;
  height: 170px;
}
.notepad .memo-box .memo-list .memo-paper {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 170px;
  height: 170px;
  padding: 12px;
  background-color: #FFF;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.25);
}
.notepad .memo-box .memo-list .memo-paper.active {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2) !important;
  z-index: 2;
}
.notepad .memo-box .memo-list .memo-paper input[type="checkbox"] {
  display: none;
}
.notepad .memo-box .memo-list .memo-paper label {
  display: flex;
  align-items: center;
  gap: 4px;
  
  cursor: pointer;
}
.notepad .memo-box .memo-list .memo-paper label:hover {
  text-decoration: underline;
}
.notepad .memo-box .memo-list .memo-paper label .date {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.notepad .memo-box .memo-list .memo-paper label .title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.notepad .memo-box .memo-list .memo-paper label .title .edit-title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.notepad .memo-box .memo-list .memo-paper label .title .edit-title:focus {
  outline: none;
}
.notepad .memo-box .memo-list .memo-paper label .check-icon {
  display: block;
  width: 14px;
  min-width: 14px;
  height: 14px;
  background: no-repeat 50% 50% / 14px;
  background-image: url(images/uncheck.svg);
}
.notepad .memo-box .memo-list .memo-paper input[type="checkbox"]:checked+label .check-icon {
  background-image: url(images/check.svg);
}
.notepad .memo-box .memo-list .memo-paper .read-memo {
  display: -webkit-box;
  height: 102px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.notepad .memo-box .memo-list .memo-paper .read-memo:hover {
  text-decoration: underline;
}
.notepad .memo-box .memo-list .memo-paper.active .read-memo {
  overflow: auto;
  -webkit-line-clamp: initial;
}
.notepad .memo-box .memo-list .memo-paper .edit-memo {
  display: none;
  width: 100%;
  height: 108px;
  padding: 8px;
  margin-top: 4px;
  font-size: 12px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  resize: none;
}
.notepad .memo-box .memo-list .memo-paper .edit-memo:focus {
  outline: none;
}
.notepad .memo-box .memo-list .memo-paper .btn-box {
  position: absolute;
  left: 0;
  bottom: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 0 4px;
}
.notepad .memo-box .memo-list .memo-paper .btn-box button {
  width: 20px;
  height: 20px;
  font-size: 0;
  background: no-repeat 50% 50% / 16px;
  border: none;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.3s;
}
.notepad .memo-box .memo-list .memo-paper .btn-box button:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.notepad .memo-box .memo-list .memo-paper .btn-box button.close-btn {
  visibility: hidden;
  background-image: url(images/close.svg);
}
.notepad .memo-box .memo-list .memo-paper.active .btn-box button.close-btn {
  visibility: visible;
}
.notepad .memo-box .memo-list .memo-paper .btn-box button.save-btn {
  display: none;
  background-image: url(images/save.svg);
}
.notepad .memo-box .memo-list .memo-paper .btn-box button.edit-btn {
  background-image: url(images/edit.svg);
}
.notepad .memo-box .memo-list .memo-paper .btn-box button.del-btn {
  background-image: url(images/del.svg);
}
.notepad .memo-box .memo-list.edit-form .memo-paper label .title {
  width: 68px;
}
.notepad .memo-box .memo-list.edit-form .memo-paper label .title .edit-title {
  display: block;
}
.notepad .memo-box .memo-list.edit-form .memo-paper .read-memo {
  display: none;
}
.notepad .memo-box .memo-list.edit-form .memo-paper .edit-memo {
  display: block;
}
.notepad .memo-box .memo-list.edit-form .memo-paper .btn-box button.save-btn {
  display: block;
}
.notepad .memo-box .memo-list.edit-form .memo-paper .btn-box button.edit-btn {
  display: none;
}
.notepad .black-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.notepad .black-bg.active {
  display: block;
}