/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Nanum+Pen+Script&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.2);
}
html, body {
  height: 100%;
  /* font-family: "Nanum Pen Script", cursive; */
  /* font-family: "Nanum Pen Script", cursive; */
  font-family: "Hi Melody", sans-serif;
  letter-spacing: -0.6px;
}
ul, ol {
  list-style: none;
}
.center-sort {
  display: flex;
  align-items: center;
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.notebook {
  width: 600px;
  height: 759px;
  background: url(images/bg.png) no-repeat 50% 0% / 100%;
  box-shadow: 16px 16px 20px rgba(0,0,0,0.2);
}
/* memo */
.notebook .memo {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.notebook .memo textarea {
  width: 100%;
  height: 40px;
  border: none;
  resize: none;
}
.notebook .memo .add-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.notebook .main-title {
  margin-top: 74px;
  margin-left: 20px;
  
  font-size: 36px;
  font-weight: 700;
}

/* memo-list */
.notebook .memo-list {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  height: 600px;
  padding: 8px 20px;
  margin-top: 12px;
  overflow: auto;
}
.notebook .memo-list .note-paper {
  width: 170px;
  height: 170px;
  position: relative;
}
.notebook .memo-list .note-paper .paper {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  width: 170px;
  height: 170px;
  padding: 12px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.25);
}
.notebook .memo-list .note-paper .paper.active {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2) !important;
  z-index: 2;
}
.notebook .memo-list .note-paper input[type="checkbox"] {
  display: none;
}
.notebook .memo-list .note-paper label {
  display: flex;
  align-items: center;
  gap: 4px;
  
  cursor: pointer;
}
.notebook .memo-list .note-paper label:hover {
  text-decoration: underline;
}
.notebook .memo-list .note-paper label .date {
  font-size: 14px;
  font-weight: 700;
}
.notebook .memo-list .note-paper label .title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notebook .memo-list .note-paper label .check-icon {
  display: block;
  width: 14px;
  min-width: 14px;
  height: 14px;
  background: no-repeat 50% 50% / 14px;
  background-image: url(images/uncheck.svg);
}
.notebook .memo-list .note-paper input[type="checkbox"]:checked+label .check-icon {
  background-image: url(images/check.svg);
}
.notebook .memo-list .note-paper .read-memo {
  display: -webkit-box;
  height: 100px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.notebook .memo-list .note-paper .read-memo:hover {
  text-decoration: underline;
}
.notebook .memo-list .note-paper .btn-box {
  position: absolute;
  left: 0;
  bottom: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  padding: 0 4px;
}
.notebook .memo-list .note-paper .btn-box button {
  width: 20px;
  height: 20px;
  font-size: 0;
  background: no-repeat 50% 50% / 16px;
  border: none;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.3s;
}
.notebook .memo-list .note-paper .btn-box button:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.notebook .memo-list .note-paper .btn-box button.close-btn {
  visibility: hidden;
  background-image: url(images/close.svg);
}
.notebook .memo-list .note-paper .btn-box button.save-btn {
  visibility: hidden;
  background-image: url(images/save.svg);
}
.notebook .memo-list .note-paper .btn-box button.edit-btn {
  background-image: url(images/edit.svg);
}
.notebook .memo-list .note-paper .btn-box button.del-btn {
  background-image: url(images/del.svg);
}
.notebook .black-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}