* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttons {
  box-sizing: border-box;
  border-collapse: collapse;
}
.buttons thead .display {
  height: 48px;
  padding: 0 20px;
  text-align: right;
  border: 2px solid #e1e1e1;
  border-bottom: none;
}
.buttons tbody td {
  width: 56px;
  height: 56px;
  border: 2px solid #e1e1e1;
}
.buttons tbody td .button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buttons tbody td .button:hover{
  background-color: #e1e1e1;
}
.buttons tbody td .button:active {
  background-color: #e1e1e1;
  box-shadow: inset 0px 0px 8px 0 rgba(0,0,0,0.25)
}