:root {
  --main-color: #3949AB;
  --sub-color: #E8EAF6;
  --white-color: #FFF;
  --black-color: #000;
  --gray-color: #e1e1e1;
  --red-color: #E53935;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-size: 14px;
}
ul, ol {
  list-style: none;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.2);
}
/* -------------------------------------------------------------- */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 14px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
  background-color: var(--sub-color);
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--main-color);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder {
  font-size: 12px;
  color: #AEAEAE;
}
/* 테스트 */
/* 테스트2 */
/* 테스트3 */
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="number"]:disabled {
  background-color: #e1e1e1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select {
  width: 100px;
  height: 40px;
  padding: 0 12px;
  font-size: 14px;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}
select option {
  padding: 20px;
}
/* -------------------------------------------------------------- */
#join {
  height: 100%;
  background-color: var(--white-color);
}
#join .join-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  padding: 10vh 20px;
  margin: 0 auto;
}
#join .join-wrap .box {
  width: calc(50% - 15px);
  min-width: 320px;
  height: max-content;
  padding: 32px 24px;
  border: 1px solid var(--gray-color);
  border-radius: 20px;
}
#join .title {
  margin-bottom: 20px;
  font-size: 20px;
}

/* form */
#join form ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#join form ul > li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 8px;
}
#join form ul > li.column {
  align-items: flex-start;
  flex-direction: column;
}
#join form ul > li .inp-box {
  width: 100%;
  position: relative;
}
#join form ul > li.box-with-buttons .inp-box {
  width: calc(100% - 108px);
}
#join form ul > li button {
  width: 100px;
  height: 40px;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
}
#join form ul > li button:disabled {
  background-color: var(--gray-color);
  cursor: no-drop;
}
#join form ul > li .guide-msg {
  font-size: 12px;
  color: var(--red-color);
}
#join form ul > li .guide-msg.active {
  padding-left: 18px;
  background: url('images/checked.svg') no-repeat 0% 50% / 16px;
  color: var(--main-color);
}
#join form ul > li .cerf-request-phone {
  width: 100%;
}
#join form .cerf-count {
  display: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
#join form .chk-box input[type="checkbox"] {
  display: none;
}
#join form .chk-box input[type="checkbox"] + label {
  display: block;
  padding-left: 24px;
  font-size: 12px;
  line-height: 24px;
  position: relative;
  cursor: pointer;
}
#join form .chk-box input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: no-repeat 50% 50%;
  background-image: url(images/checkbox_unchecked.svg);
}
#join form .chk-box input[type="checkbox"]:checked + label::before {
  background-image: url(images/checkbox_checked.svg);
}
#join form .chk-box.all-check {
  margin-bottom: 8px;
}
#join form .chk-box.all-check input[type="checkbox"] + label {
  font-size: 16px;
  font-weight: 700;
}
#join form .join-btn {
  width: 100%;
  height: 40px;
  margin-top: 32px;
  background-color: var(--main-color);
  border: none;
  color: var(--white-color);
  cursor: pointer;
}

/* member-box */
#join .member-box ul li {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--sub-color);
  border: 1px solid var(--main-color);
  border-radius: 8px;
  position: relative;
}
#join .member-box ul li:first-child {
  margin-top: 0;
}
#join .member-box ul li p {
  padding-left: 8px;
  position: relative;
}
#join .member-box ul li p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--main-color);
}
#join .member-box ul li .del-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  height: 24px;
  padding: 0 8px;
  font-size: 10px;
  background-color: var(--red-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
}